<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add 
			key="ConsumerKey"
			value="UUdNTXBFVmlxc1RPNlV0RHJkd29yY1J5Tg==" />
		<add
			key="ConsumerSecret"
			value="dVExY3hkd085SUtCTnA2d21KTG5QQWpUVEZDcVp1VXAxcGhFZU1rOG9EUk1HbzdHUWo=" />
	</appSettings>
</configuration>