<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add 
			key="ConsumerKey"
			value="N01pN0JaTzVZZ2tUTzFaSTNlN3BsOE04eg==" />
		<add
			key="ConsumerSecret"
			value="UVg1Wm5ubFNlRmRjaGRHNHh3ZzVuR0VEUzZ5OHRXWjZxcXY1a3hMdmtXODY3TndZcFM=" />
		<add
			key="OpenWeatherMapKey"
			value="OTQ1M2RkNTJmNTJhMDZlZjg5M2YyMDZkODkxZjdmYjI=" />
	</appSettings>
</configuration>